.container{
	overflow: hidden;
}
.tab{
	float: left;
}
.tab-2{
	margin-left: 50px;
}
.tab-2 input{
	display: block;
	margin-bottom: 10px;
}
#form{
	background-color: rgba(255,0,204,0.2);
	width: 40%;
	margin: auto;
	padding:50px 0px 10px 400px;
}